@import 'scss/settings';

.container {
  margin: auto;
  max-width: 660px;
  width: 100%;
}

.title {
  color: $black;
  font-size: toRem(20px);
  text-align: center;
}

.board {
  margin-bottom:20px;
}

.row {
  display: flex;
}

.block {
  background-color: $white;
  border: solid rgba($light-grey, 0.5) 1px;
  height: 60px;
  width: 60px;
  
  &::after {
    background-color: $lighter-grey;
    border-radius: 50%;
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
  }

  &:disabled {
    background-color: $lighter-grey;

    &::after {
      opacity: 0.5;
    }    
  }
}

.sunk {
  background-image: url('./img/fire.gif');
  background-size: cover;
}

.carrier {
  &::after {
    background-color: blueviolet;
  }
}

.battleship {
  &::after {
    background-color: $red;
  }
}

.destroyer {
  &::after {
    background-color: $green;
  }
}

.submarine {
  &::after {
    background-color: $yellow;
  }
}

.patrolBoat {
  &::after {
    background-color: $blue;
  }
}
